@charset "UTF-8";

.todayImagethumb {
	width: 150px;
	height: 100px;
}

.todayImageSize {
	width: 100%;
	height: 100%;
}

.today__Range {
	width: 800px;
	height: 400px;
}

.today__Range-width div {
	display: inline-block;
	margin: 10px;
}

.today__Range-margin {
	margin: 20px;
}

.today__close {
	position: relative;
	top: -103px;
	right: 0;
}

@media screen and (max-width:992px) {
	.today__Range{
		width: 100%;
	}
	.todayImagethumb {
		width: 80px;
		height: 50px;
}
	
}